<!-- Loop over each object in the jobs array -->
{{#each jobs as |job| }}
<div class="row mb-4 project">
  <div class="col-md-5">
      
    <h2>
      
      <a href="/job/{{job.id}}">{{job.jobtitle}}</a>
    </h2>
    
    <p>
      <span for="img" aria-label="money">💲</span>
      
      <span class="job-title">{{jobs.jobtitle}}</span>
      This job seeker may help you get the job done.
    </p>
    <p>Potential Employee: {{jobs.user.firstname}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{jobs.description}}
    </p>
  </div>
</div>
{{/each}}
