<div class="joblist">
    <div class="jobcard">
        
        <div>
            <h2>{{jobtitle}}</h2>
            <ul class="liststyle">
                <li>Company: {{company}}</li>
                <li>Description: {{description}}</li>
                
            </ul>
            <p>Created by: {{user.firstname}} {{user.lastname}}</p>
            <span for="img" aria-label="money">💲</span>
            <label for="salary">Rate per Hour: ${{salary}}</label>
            <p>For more specific details, please contact the job seeker via
                email by clicking on Hire.</p>
            <a href="mailto:{{user.email}}"><button id="hirebtn" class="btn btn-primary">Hire</button></a>
            <br>
            <br>
        </div>
        <br>
      
    </div>
</div>