<form class="form job-id-form"></form>
<div class="text-center">
    
  <h2 =class='title'>{{jobtitle}}</h2>
  
  <p class='desc'>{{description}}</p>
  
  <p class='firstname'>Created by {{user.firstname}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
   <label class='salary' for="salary">Rate/Hour ($):{{salary}}</label>
    <p>For specific details on salary such as per hour or per project, please contact the job seeker via email.</p>  
  </p>
  <p>
    <button class="btn btn-primary" id='email'><a href="mailto:{{user.email}}">{{user.email}}</button></a>
  </p>
   
</div>
</form>

