<section class="user">
  <img src="/images/{{user.firstname}}{{user.lastname}}" alt="{{user.email}}">
  <div class="user-details">
     <h3>{{user.firstname}}{{user.lastname}}</h3>
  </div>
</section>