<div class=" card shadow rounded bg-dark text-white greenborder mb-4">
        <div class="card-body">
          <div class="row">

            <h4 class="ml-3 job-title">{{this.jobtitle}}</h4>
            
          <p class="mb-1 company"><strong>{{this.company}}</strong></p>

          <p class="mb-1 desc">Description : <span class="text-info">{{this.description}}</span></p>
          <p class="mb-1 job-city">Job City : <span class="text-info">{{this.city}}</span></p>
           <p class="mb-1 job-state">Job State : <span class="text-info">{{this.state}}</span></p>
          <p class="mb-1 salary">Salary : <span class="text-info">{{this.salary}}</span></p>

          
          <div>
            <a class='email' href="mailto:{{this.email}}" class="btn btn-md btn-info mb-2 mt-1">Contact</a>
          </div>
        </div>
      </div>